// change the theme
$theme-colors: (
        "primary": #6366F1,
        "secondary": #4B5563,
        "dark": black
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

:root {
  --primary-color: #6366F1;
  --bs-body-bg: #111827;
  --bs-body-color: white;
  --bs-tertiary-bg-rgb: #111827;
  --nav-link-color: var(--bs-white);
  --nav-link-offcanvas-color: #374151;
  --bs-offcanvas-bg: var(--bs-white)
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-body-tertiary {
  background-color: #111827 !important;
}

.navbar {
  min-height: 66px;
  .container {
    gap: 22px;
  }
}

.navbar-nav {
  gap: 40px;
}

.nav-link {
  color: var(--nav-link-color);

  &.active {
    color: #6366F1 !important;
  }

  .hover {
    color: #6366F1;
  }

  &:active {
    color: var(--bs-white);
  }

  &:visited {
    color: var(--bs-white);
  }
}

.offcanvas-header {
  background-color: var(--bs-white);
}

.offcanvas-body {
  background-color: var(--bs-white);
  overflow-y: unset;

  .nav-link {
    color: var(--nav-link-offcanvas-color) !important;

    &.active {
      color: var(--nav-link-offcanvas-color) !important;
    }

    .hover {
      color: #6366F1 !important;
    }

    &:active {
      color: var(--nav-link-offcanvas-color)
    }

    &:visited {
      color: var(--nav-link-offcanvas-color)
    }
  }

  button {
    color: var(--nav-link-color);
  }
}

.page-container {
  height: 100vh;
}

.page-row {
  height: 100%;
}

.right-section {
  margin-top: 3em;
}

.left-section {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 3em;

  .badge-container {
    gap: 16px;

    .badge {
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.025em;
      text-align: left;

      .bg-success {
        font-weight: 400;
      }
    }
  }

  .heading {
    font-size: 72px;
    font-weight: 800;
    line-height: 72px;
    text-align: left;
  }

  .description {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  button {
    color: var(--nav-link-color);
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1280px;
  }
}

@media screen and (min-device-width: 990px) and (max-device-width: 1400px) {
  .left-section .heading {
    font-size: 52px;
    line-height: 52px;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .page-container {
    margin-top: 2em;
  }
  .navbar-nav {
    gap: 4px;
  }

  .left-section .heading {
    font-size: 64px;
    font-weight: 600;
    line-height: 52px;
  }
}

@media only screen and (max-device-width: 480px) {
  .page-container {
    margin-top: 3em;
  }
  .navbar-nav {
    gap: 20px;
  }

  .left-section .heading {
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
  }
}
